# EBI Metadata - Preprocessing

In [1]:
import pandas as pd

metadata_ebi = pd.read_csv('../data/results_sequence_tsv.txt',
                           sep='\t',
                           dtype={'collected_by': object,
                                  'collection_date': object,
                                  'culture_collection': object,
                                  'identified_by': object,
                                  'isolate': object,
                                  'isolation_source': object,
                                  'keywords': object,
                                  'lab_host': object,
                                  'location': object,
                                  'sample_accession': object,
                                  'strain': object,
                                  'study_accession': object})

metadata_ebi.info() # 51 cols, 2.5 mio entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520583 entries, 0 to 2520582
Data columns (total 51 columns):
 #   Column                Dtype
---  ------                -----
 0   accession             object
 1   altitude              float64
 2   base_count            int64
 3   bio_material          float64
 4   cell_line             float64
 5   cell_type             float64
 6   collected_by          object
 7   collection_date       object
 8   country               object
 9   cultivar              float64
 10  culture_collection    object
 11  dataclass             object
 12  description           object
 13  dev_stage             float64
 14  ecotype               float64
 15  environmental_sample  bool
 16  first_public          object
 17  germline              bool
 18  haplotype             float64
 19  host                  object
 20  identified_by         object
 21  isolate               object
 22  isolation_source      object
 23  keywords              object
 24  lab_host              object
 25  last_updated          object
 26  location              object
 27  mating_type           float64
 28  metagenome_source     float64
 29  mol_type              object
 30  organelle             float64
 31  plasmid               float64
 32  sample_accession      object
 33  scientific_name       object
 34  sequence_md5          object
 35  sequence_version      int64
 36  serotype              float64
 37  serovar               float64
 38  sex                   float64
 39  specimen_voucher      float64
 40  strain                object
 41  study_accession       object
 42  sub_species           float64
 43  sub_strain            float64
 44  submitted_sex         float64
 45  tax_division          object
 46  tax_id                int64
 47  tissue_lib            float64
 48  tissue_type           float64
 49  topology              object
 50  variety               float64
dtypes: bool(2), float64(22), int64(3), object(24)
memory usage: 947.1+ MB

## Remove Empty Columns

In [2]:
# Show how many NaN values each col has
metadata_ebi.isnull().sum()

accession                     0
altitude                2520583
base_count                    0
bio_material            2520583
cell_line               2520583
cell_type               2520583
collected_by            2450443
collection_date           66411
country                     462
cultivar                2520583
culture_collection      2520582
dataclass                     0
description                   0
dev_stage               2520583
ecotype                 2520583
environmental_sample          0
first_public                  0
germline                      0
haplotype               2520583
host                        451
identified_by           2520569
isolate                 1122068
isolation_source        1383466
keywords                1700127
lab_host                2520533
last_updated                  0
location                2517728
mating_type             2520583
metagenome_source       2520583
mol_type                      0
organelle               2520583
plasmid                 2520583
sample_accession         897133
scientific_name               0
sequence_md5                  0
sequence_version              0
serotype                2520583
serovar                 2520583
sex                     2520583
specimen_voucher        2520583
strain                  2520426
study_accession          869656
sub_species             2520583
sub_strain              2520583
submitted_sex           2520583
tax_division                  0
tax_id                        0
tissue_lib              2520583
tissue_type             2520583
topology                      0
variety                 2520583
dtype: int64

In [3]:
# Extract names of cols containing only NaN values
nan_cols = [i for i in metadata_ebi.columns if metadata_ebi[i].isnull().sum() == len(metadata_ebi)]
nan_cols

['altitude',
 'bio_material',
 'cell_line',
 'cell_type',
 'cultivar',
 'dev_stage',
 'ecotype',
 'haplotype',
 'mating_type',
 'metagenome_source',
 'organelle',
 'plasmid',
 'serotype',
 'serovar',
 'sex',
 'specimen_voucher',
 'sub_species',
 'sub_strain',
 'submitted_sex',
 'tissue_lib',
 'tissue_type',
 'variety']

In [4]:
# Reduce data frame to relevant 29 cols (5 columns do still contain a lot of NaN values)
metadata_ebi_relevant_cols = metadata_ebi.drop(nan_cols, axis=1)
metadata_ebi_relevant_cols.isnull().sum()

accession                     0
base_count                    0
collected_by            2450443
collection_date           66411
country                     462
culture_collection      2520582
dataclass                     0
description                   0
environmental_sample          0
first_public                  0
germline                      0
host                        451
identified_by           2520569
isolate                 1122068
isolation_source        1383466
keywords                1700127
lab_host                2520533
last_updated                  0
location                2517728
mol_type                      0
sample_accession         897133
scientific_name               0
sequence_md5                  0
sequence_version              0
strain                  2520426
study_accession          869656
tax_division                  0
tax_id                        0
topology                      0
dtype: int64

In [5]:
# Rename column and fill NaN values with empty strings
metadata_ebi_relevant_cols.rename({'country': 'country_and_region'}, axis=1, inplace=True)
metadata_ebi_relevant_cols['country_and_region'] = metadata_ebi_relevant_cols['country_and_region'].fillna('')

# Save as CSV
metadata_ebi_relevant_cols.to_csv('../data/metadata_EBI_relevant_cols.csv', index=False)

## Data Cleaning

In [1]:
import pandas as pd

df = pd.read_csv('../data/metadata_EBI_relevant_cols.csv',
                 dtype={'collected_by': object,
                        'collection_date': object,
                        'culture_collection': object,
                        'identified_by': object,
                        'isolate': object,
                        'isolation_source': object,
                        'keywords': object,
                        'lab_host': object,
                        'location': object,
                        'sample_accession': object,
                        'strain': object,
                        'study_accession': object})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520583 entries, 0 to 2520582
Data columns (total 29 columns):
 #   Column                Dtype
---  ------                -----
 0   accession             object
 1   base_count            int64
 2   collected_by          object
 3   collection_date       object
 4   country_and_region    object
 5   culture_collection    object
 6   dataclass             object
 7   description           object
 8   environmental_sample  bool
 9   first_public          object
 10  germline              bool
 11  host                  object
 12  identified_by         object
 13  isolate               object
 14  isolation_source      object
 15  keywords              object
 16  lab_host              object
 17  last_updated          object
 18  location              object
 19  mol_type              object
 20  sample_accession      object
 21  scientific_name       object
 22  sequence_md5          object
 23  sequence_version      int64
 24  strain                object
 25  study_accession       object
 26  tax_division          object
 27  tax_id                int64
 28  topology              object
dtypes: bool(2), int64(3), object(24)
memory usage: 524.0+ MB

In [7]:
# TODO: Which columns are not relevant for further analysis?
cols_to_drop = ['scientific_name', # all 'SARS-CoV-2'
                'sequence_md5', # MD5 checksum should have to further meaning as it is a hash value
                'sequence_version', # nearly all version 1
                'study_accession', # name of study accession should have no influence on biases or does it encode e.g. country?
                'location', # same as country?
                'environmental_sample' #?
]

In [8]:
# Cleanup keyword column
df['keywords'].value_counts()

purposeofsampling:baselinesurveillance        816880
purposeofsampling:targetedefforts               1658
puposeofsampling:baselinesurveillance           1092
purposeofsampling:targeted_sequencing            487
purpose_of_sequencing:baselinesurveillance       214
purposeofsampling=targetedefforts                122
purposeofsampling=baselinesurveillance             3
Name: keywords, dtype: int64

In [2]:
df['keywords'].replace(['purposeofsampling:baselinesurveillance', 'puposeofsampling:baselinesurveillance', 'purpose_of_sequencing:baselinesurveillance', 'purposeofsampling=baselinesurveillance'], 'purpose_of_sampling:baseline_surveillance', inplace=True)
df['keywords'].replace(['purposeofsampling:targetedefforts', 'purposeofsampling=targetedefforts', 'purposeofsampling:targeted_sequencing'], 'purpose_of_sampling:targeted_efforts', inplace=True)
df['keywords'].value_counts()

purpose_of_sampling:baseline_surveillance    818189
purpose_of_sampling:targeted_efforts           2267
Name: keywords, dtype: int64

## Data Enrichment

In [4]:
# Add gender column
df['host'].value_counts()

Homo sapiens                                                                     2503489
homo sapiens                                                                        2397
Homo sapiens; FEMALE                                                                1847
Homo sapiens; MALE                                                                  1634
Homo sapiens; UNKNOWN                                                                141
                                                                                  ...
Homo sapiens; Female, age 34                                                           1
Homo sapiens; Female, age 32,White,Not Hispanic or Latino                              1
Homo sapiens; Male, age 44,White,Not Hispanic or Latino                                1
Homo sapiens; Female, age 22,Black or African American,Not Hispanic or Latino          1
Homo sapiens; Male, age 26,White,Not Hispanic or Latino                                1
Name: host, Length: 1019, dtype: int64

In [5]:
def get_gender(host_value):
    if any([substring in host_value.lower() for substring in ['female', 'femle', 'gender: f']]):
        return 'female'
    if any([substring in host_value.lower() for substring in ['male', 'gender: m']]):
        return 'male'
    else:
        return 'unknown'

In [6]:
df['gender'] = df.apply(lambda row: get_gender(str(row['host'])), axis=1)
df['gender'].value_counts()

unknown    2508253
female        6622
male          5708
Name: gender, dtype: int64

In [7]:
# Verify if all gender descriptions are catched
df_unknown_gender = df[df['gender'] == 'unknown']

pd.set_option("display.max_rows", None)
df_unknown_gender['host'].value_counts()

Homo sapiens                          2503489
homo sapiens                             2397
Homo sapiens; UNKNOWN                     141
Neovison vison                             62
Homo sapiens; age 19                       55
Mink                                       54
Homo sapiens; age 21                       40
Homo sapiens; age 20                       38
Homo sapiens; age 50                       35
Homo sapiens; age 18                       35
Homo sapiens; age 49                       29
Homo sapiens; age 22                       28
Homo sapiens; age 47                       27
Homo sapiens; age 37                       25
Homo sapiens; age 59                       24
Homo sapiens; age 38                       23
Homo sapiens; age 58                       23
Homo sapiens; age 40                       23
Homo sapiens; age 60                       23
Homo sapiens; age 56                       22
Homo sapiens; age 31                       21
Homo sapiens; age 24                       21
Homo sapiens; age 42                       21
Homo sapiens; age 48                       21
Homo sapiens; age 51                       21
Felis catus                                20
Homo sapiens; age 36                       20
Homo sapiens; age 46                       20
Homo sapiens; age 32                       20
Homo sapiens; age 29                       20
Homo sapiens; age 53                       20
Homo sapiens; age 26                       20
Homo sapiens; age 41                       20
Homo sapiens; age 16                       19
Homo sapiens; age 75                       19
Homo sapiens; age 54                       19
Homo sapiens; age 44                       19
Homo sapiens; age 52                       19
Homo sapiens; age 30                       18
Homo sapiens; age 57                       18
Homo sapiens; age 15                       18
Homo sapiens; age 67                       18
Homo sapiens; age 39                       17
Homo sapiens; age 71                       17
Homo sapiens; Nasal Swab                   17
Homo sapiens; age 35                       17
Homo sapiens; age 55                       17
Homo sapiens; age 65                       16
cat                                        16
Homo sapiens; age 64                       16
Homo sapiens; age 23                       16
Homo sapiens; age 68                       16
Homo sapiens; age 43                       16
Homo sapiens; age 74                       16
Homo sapiens; age 14                       15
Homo sapiens; age 70                       15
Homo sapiens; age 45                       15
Homo sapiens; age 61                       15
Homo sapiens; age 63                       14
Homo sapiens; age 72                       14
USA: Louisiana                             14
Homo sapiens; age 33                       14
Homo sapiens; age 34                       13
Mustela lutreola                           13
Homo sapiens; age 25                       13
Homo sapiens; age 62                       13
Homo sapiens; age 11                       12
Homo sapiens; age 8                        12
Homo sapiens; age 17                       12
Homo sapiens; age 73                       12
Homo sapiens; age 7                        12
Homo sapiens; age 28                       12
Homo sapiens; age 12                       12
Homo sapiens; age 69                       11
Homo sapiens; age 77                       11
Homo sapiens; age 9                        11
Homo sapiens; age 4                        11
Panthera tigris                            10
Homo sapiens; Unknown                      10
Homo sapiens; age 79                       10
Homo sapiens; age 66                       10
Homo sapiens; age 81                        9
Homo sapiens; age 13                        9
Homo sapiens; age 80                        9
Homo sapiens; Nasopharyngeal Swab           9
Homo sapiens; age 27                        9
Homo sapiens; age 3                         8
Homo sapiens; age 76                        8
Homo sapiens; age 92                        8
dog                                         8
Homo sapiens; age 5                         8
Homo sapiens; age 1                         8
Homo sapiens; age 91                        8
Homo sapiens; age 6                         8
Homo sapiens; age 82                        7
Homo sapiens; age 83                        7
Panthera leo                                7
Homo sapiens; age 10                        7
Canis lupus familiaris                      6
Homo sapiens; age 78                        6
Homo sapiens; age 84                        6
Mesocricetus auratus                        5
Homo sapiens; age 86                        4
Homo sapiens; age 88                        4
Homo sapiens; age 2                         3
Homo sapiens; age 87                        3
Human                                       2
Homo sapiens; age 95                        2
Homo                                        2
Homo sapiens; age 93                        2
Homo sapiens; age 85                        2
Homo sapiens; age 90                        2
Homo sapiens; age 1 day                     2
canine                                      2
not provided                                2
Asiatic Lion                                2
Homo sapiens; age 89                        2
Ferret                                      2
huamn                                       2
Homo sapiens; asymptomatic                  2
Homo sapiens; unknown sex, age37            2
Felis catus; Domestic Shorthair             2
Homo sapiens; symptomatic                   2
Vero E6                                     2
Homo sapiens; age Unknown                   1
Homo sapiens; age 25 days                   1
Homo sapiens; age 3 mos                     1
Homo sapiens; unknown sex, age8             1
Homo sapiens; unknown sex, age47            1
Homo sapiens; unknown sex, age10            1
Human; 35 year old                          1
Homo sapiens; age 9 mos                     1
Human; 32 year old                          1
Homo sapiens; age 10 mos                    1
Human; 89 year old                          1
Human; 26 year old                          1
Human; 40 year old                          1
Human; 36 year old                          1
Homo sapiens; unknown sex, age2             1
Homo sapiens; unknown sex, age72            1
Homo sapiens; , age34                       1
Homo sapiens; unknown sex, age1             1
Chlorocebus sabaeus                         1
unknown                                     1
Homo sapiens; hospitalized patient          1
Homo sapiens; unknown sex, age18            1
Panthera tigris jacksoni                    1
Homo sapiens; age 0                         1
feline                                      1
Vero E6 cells                               1
Homo sapiens; unknown sex, age28            1
Homo sapiens; age 8MOS                      1
Homo sapiens; age 440                       1
Homo sapiens; age 23 MOS                    1
Homo sapiens; unknown, age40                1
Homosapeins                                 1
Homo sapiens; age25                         1
Homo sapiens; unknown sex, age63            1
Name: host, dtype: int64

In [8]:
import numpy as np

# Add age column (measured in years)
df['host'] = df['host'].replace(['agee'], ['age'], regex=True)

def get_age(host_value):
    if 'age' in host_value.lower():
        if 'younger than' in host_value.lower():
            # example: "age Younger Than 15"
            return np.nan
        elif 'day' in host_value.lower():
            age_in_days = int(host_value[(host_value.lower().find('day') - 3): (host_value.lower().find('day') - 1)])
            # example: "age 42 day/s"
            return round(age_in_days / 365, 2)
        elif 'months' in host_value.lower():
            age_in_months = int(
                host_value[(host_value.lower().find('months') - 3): (host_value.lower().find('months') - 1)])
            # example: "age 6 months"
            return round(age_in_months / 12, 2)
        elif 'mos' in host_value.lower():
            if host_value[host_value.lower().find('mos') - 1] == ' ':
                age_in_months = int(
                    host_value[(host_value.lower().find('mos') - 3): (host_value.lower().find('mos') - 1)])
                # example: "age 6 mos/MOS"
                return round(age_in_months / 12, 2)
            else:
                age_in_months = int(host_value[(host_value.lower().find('mos') - 2): (host_value.lower().find('mos'))])
                # example: "age 6MOS"
                return round(age_in_months / 12, 2)
        elif host_value[host_value.lower().find('age') + 3] == ' ':
            if 'age unknown' in host_value.lower():
                # example: "age Unknown"
                return np.nan
            else:
                # example: "age 42"
                return host_value[(host_value.lower().find('age') + 4): (host_value.lower().find('age') + 6)]
        elif host_value[host_value.lower().find('age') + 3] == ':':
            if host_value[host_value.lower().find('age') + 4] == ' ':
                # example: "age: 42"
                return host_value[(host_value.lower().find('age') + 5): (host_value.lower().find('age') + 7)]
            else:
                # example: "age:42"
                return host_value[(host_value.lower().find('age') + 4): (host_value.lower().find('age') + 6)]
        else:
            # example: "age42"
            return host_value[(host_value.lower().find('age') + 3): (host_value.lower().find('age') + 5)]
    elif 'year old' in host_value.lower():
        # example: "42 year old"
        return host_value[(host_value.lower().find('year old') - 3): (host_value.lower().find('year old') - 1)]
    else:
        return np.nan

df['age'] = df.apply(lambda row: get_age(str(row['host'])), axis=1)

In [9]:
# Add country column
df['country_and_region'] = df['country_and_region'].astype(str)
df['country'] = [country_and_region.split(':')[0] for country_and_region in df['country_and_region']]
df['country'].value_counts()

USA                   1257315
United Kingdom         957374
Germany                165037
Switzerland             81810
Australia               13311
Slovakia                 6175
Iceland                  5365
Mexico                   2922
Bahrain                  2884
New Zealand              2427
Kenya                    2320
India                    2062
Estonia                  1681
France                   1618
Netherlands              1561
Poland                   1219
Spain                    1184
Thailand                 1106
Saudi Arabia             1090
Egypt                    1071
Lebanon                   931
Japan                     880
Pakistan                  806
Bangladesh                666
nan                       462
Seychelles                451
Iran                      416
Nigeria                   383
Chile                     383
Russia                    358
Hong Kong                 347
Italy                     333
Brazil                    322
Puerto Rico               304
Ghana                     297
China                     297
Djibouti                  288
Iraq                      284
Tunisia                   278
Austria                   242
Peru                      179
Canada                    169
Liechtenstein             164
Serbia                    153
Israel                    125
Sierra Leone               99
Zimbabwe                   98
Greece                     98
Philippines                84
Turkey                     78
Malaysia                   77
Uzbekistan                 71
West Bank                  63
Taiwan                     61
Armenia                    48
Libya                      46
Myanmar                    45
Argentina                  43
Mali                       42
Venezuela                  40
Hungary                    36
South Korea                35
Timor-Leste                29
Uganda                     29
Finland                    28
Jordan                     28
Uruguay                    25
Czech Republic             24
Portugal                   22
Georgia                    21
Kazakhstan                 18
Morocco                    17
Gabon                      17
Denmark                    15
Guinea                     13
Benin                      12
Malta                      12
Viet Nam                   11
Togo                       11
Nepal                      11
Sweden                     10
Guatemala                  10
Somalia                    10
Colombia                    9
Dominican Republic          9
Indonesia                   9
Jamaica                     8
Ethiopia                    7
Gambia                      6
Sri Lanka                   6
Qatar                       6
Belgium                     5
South Africa                5
Belize                      4
Ecuador                     4
Guam                        3
Singapore                   2
Romania                     2
Belarus                     2
Palau                       2
Cuba                        2
Cambodia                    2
Cameroon                    1
Croatia                     1
Zambia                      1
Name: country, dtype: int64

In [10]:
df['country'].unique()

array(['Japan', 'United Kingdom', 'Spain', 'Switzerland', 'France',
       'Poland', 'Estonia', 'Philippines', 'nan', 'Bangladesh', 'China',
       'Sweden', 'Netherlands', 'Germany', 'Zimbabwe', 'Italy',
       'Thailand', 'USA', 'Australia', 'India', 'Finland', 'South Korea',
       'Malaysia', 'Taiwan', 'Belgium', 'Nepal', 'Hong Kong', 'Brazil',
       'Viet Nam', 'Iran', 'Nigeria', 'Georgia', 'Pakistan', 'Colombia',
       'Peru', 'Israel', 'Iraq', 'Tunisia', 'Singapore', 'South Africa',
       'Turkey', 'Greece', 'Serbia', 'Sri Lanka', 'Czech Republic',
       'Puerto Rico', 'Kazakhstan', 'Uzbekistan', 'Guam', 'Uruguay',
       'Jamaica', 'Russia', 'Egypt', 'Morocco', 'Kenya', 'Timor-Leste',
       'Saudi Arabia', 'Benin', 'Chile', 'New Zealand', 'Mexico',
       'Bahrain', 'Zambia', 'Lebanon', 'Jordan', 'Belize', 'Guatemala',
       'Sierra Leone', 'Cuba', 'Ghana', 'Venezuela', 'Denmark', 'Myanmar',
       'Libya', 'Malta', 'Gabon', 'Romania', 'West Bank', 'Ecuador',
       'Canada', 'Cambodia', 'Mali', 'Dominican Republic', 'Argentina',
       'Portugal', 'Cameroon', 'Austria', 'Hungary', 'Belarus',
       'Ethiopia', 'Indonesia', 'Gambia', 'Togo', 'Armenia', 'Uganda',
       'Djibouti', 'Somalia', 'Qatar', 'Guinea', 'Croatia', 'Seychelles',
       'Slovakia', 'Palau', 'Liechtenstein', 'Iceland'], dtype=object)

In [11]:
import json

df['country'] = df['country'].replace(np.nan, 'Unknown')

# Load number of inhabitants per country (taken from Wikipedia)
with open('json_data/country_inhabitants_map.json') as f:
    country_inhabitants_map = json.load(f)

# Add column with number of inhabitants
df['n_inhabitants'] = df['country'].map(country_inhabitants_map)
df['n_inhabitants'].describe()

count    2.520121e+06
mean     1.988180e+08
std      1.389779e+08
min      1.790700e+04
25%      6.708100e+07
50%      3.314493e+08
75%      3.314493e+08
max      1.418120e+09
Name: n_inhabitants, dtype: float64

In [12]:
import numpy as np

# Add region column
def get_region(country_and_region):
    if country_and_region.split(':', 1) != [country_and_region]:
        if country_and_region.split(':', 1)[1][0] == ' ':
            # Remove whitespace in front of region
            return country_and_region.split(':', 1)[1][1:]
        else:
            return country_and_region.split(':', 1)[1]
    else:
        # Insert NaN if only country is available in "country_and_region" column
        return np.nan

df['region'] = df.apply(lambda row: get_region(str(row['country_and_region'])), axis=1)

In [12]:
# TODO: Derive race from "host" column and add as new column

In [13]:
df.to_csv('../data/metadata_EBI_preprocessed.csv', index=False)